:root {
    --main-text-color: #55B4D4;
}

body {
    background-color: #0f1419;
    font-family: 'Poppins';
    color: var(--main-text-color);
}

.bodyValues {
    padding-top: 4px;
}

.listEvent {
    font-size: 14px;
}

li {
    list-style: none;
}

textarea {
    color: var(--main-text-color);
    border: 0;
    caret-color: blueviolet;
    background-color: transparent;
    outline: none;
    resize: none;
}

#terminal-window {
    font-size: 14px;
}
.input {
    display: flex;
    font-size: 14px;
}

label {
    padding-right: 4px;
}

.symbol {
    color: #86b300;
}

.glow {
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #73ABAD, 0 0 40px #73ABAD, 0 0 50px #73ABAD, 0 0 60px #73ABAD, 0 0 70px #73ABAD;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #68b1b4, 0 0 40px #68b1b4, 0 0 50px #68b1b4, 0 0 60px #68b1b4, 0 0 70px #68b1b4, 0 0 80px #68b1b4;
    }
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.term {
    color: #B89076;
}

.default {
    color: #7c587f;
}

.links {
    color: #7c587f;
}

.links:hover {
    background-color: aquamarine;
    cursor: pointer;
}

pre{
    padding: 2px;
    margin: 0;
}
